# Example Inference Environment Variables
VLLM_URL=https://example.com/v1
VLLM_API_TOKEN=
VLLM_TLS_VERIFY=false
INFERENCE_MODEL=granite-3.2-8b-instruct

# Granite Guardian Environment Variables
GRANITE_API_KEY=
GRANITE_BASE_URL=https://example.com/v1
GRANITE_TLS_VERIFY=false
GRANITE_GUARDIAN_MODEL_NAME=granite-guardian-3-1-8b